* {
    box-sizing: border-box;
}

body {
  /* fix for webkit rendering */
  -webkit-font-smoothing: antialiased;
}
    
.container {
    position: absolute;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: inherit;
    opacity: .33;
    transition: .5s ease opacity;
}

.container--faded::before {
    opacity: 1;
}

.information {
    color: #fff;
    opacity: .9;
    margin: auto;
}

.location {
    font: 1rem/1 'Roboto Mono', monospace;
    text-align: center;
    margin: 1.5rem 0 1.5rem;
}

.temperature {
    font: 7rem/1 'Rubik', sans-serif;
    text-align: center;
    margin: 1.5rem 0 .5rem;
}

.temperature::after {
    content: '°';  
}

.weather-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: .5rem 0 2rem;
}

.weather-description__text {
    font: 2rem/1 'Rubik', sans-serif;
}

.weather-description__icon {
    width: 3rem;
    height: 3rem;
    margin-left: .5rem;
}

.weather-description__image {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)";
    filter: grayscale(100%);    
}

.details {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    font: 1rem/1 'Roboto Mono', monospace;
    text-align: center;
}

.details__element {
    min-width: 1.8rem;
    margin: 0 .8rem;
}

.details__value {
    padding: 0.5rem 0;
    font-size: 1rem;
}

.details__value--temperature::after {
    content: '°';
}

.details__value--wind-speed::after {
    content: ' m/s';
}

.details__value--humidity::after {
    content: '%';
}

.details__value--pressure::after {
    content: ' mm';
}

.details__header {
    font-size: .66rem;
    text-transform: uppercase;
    opacity: .66;
}

.details__footer {
    font-size: .8rem;
}

.units {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.units__element {
    font: .66rem/4.5 'Roboto Mono', monspace;
    display: block;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    opacity: .9;
    width: 9.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3rem;
    transition: .3s ease background-color;
}

.units__element:first-child {
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
    border-right: none;
}

.units__element:last-child {
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
}

.units__element--selected {
    background-color: rgba(255, 255, 255, .2);
}

.author {
    width: 100%;
    margin: 1rem 0 .2rem;
    font: .66rem/2.5 'Roboto Mono', monspace;
    color: #fff;
    opacity: .9;
    text-align: center;
}

.author__link,
.author__link:link,
.author__link:visited,
.author__link:hover,
.author__link:active {
    color: #fff;
    opacity: .9;
}

@media screen and (min-width: 576px) {

    .temperature {
        font-size: 9rem;
    }

    .weather-description__text {
        font-size: 3rem;
    }

    .details__block {
        width: 4rem;
    }

}

.loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1000;
    transition: .5s ease-out opacity .5s,
        step-end visibility 1s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader--visible {
    opacity: 1;
    visibility: visible;
}

.loader__pulse {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 100px;
    animation: 1.5s infinite pulse;
    transition: .5s step-end height;    
}

.loader__pulse::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background: #000;
    animation: 1.5s infinite pulse-inside .25s;
}

.loader__content::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: .5s ease-out opacity;
}

.loader__content--hidden::after {
    opacity: 1;
}

@keyframes pulse {
    0% { 
        transform: scale(0); 
        opacity: .2;  
    }
    66% {
        opacity: 1
    }
    100% { 
        transform: scale(1); 
        opacity: .2;
    }  
}
  
@keyframes pulse-inside {
    0% { 
        transform: scale(0); 
    }
    100% { 
        transform: scale(1); 
    }  
}

.error {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 100;
    visibility: hidden;
    color: #bbb;
    font: 1rem/1 'Roboto Mono', monospace;
    text-align: center;
    padding: 0 1rem;
}

.error--visible {
    visibility: visible;
}
